/*Main*/
html { 
    min-height: 100%; 
    position: relative; 
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/*Headings and text*/
h1 {
    color: #365566;
    margin: 2rem;
    font-size: 2rem;
}

p {
    color: #333
}
.instructions {
    font-size: 1.2 rem;
    margin: 1.5rem
}

.responses {
    padding-top: 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #365566;
}

/*Navbar*/
nav .navbar-brand .blue
{
    font-size: xx-large;
    color: #365566;
}

/*Links*/
.link {
    color: #5a8daa
}

.link:hover {
    text-decoration: none;
    color: #1b455e
}

/*Buttons*/
.btn-custom {
    background-color: #5a8daa
}

.btn-custom:hover {
    background-color: #1b455e
}


/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}