{% extends "layout.html" %}

{% block title %}
    Transactions history
{% endblock %}

{% block main %}
    <h1>TRANSACTIONS HISTORY</h1>
    <table class= "table table-striped">
        <thead>
            <tr>
                <th>ACTION</th>
                <th>STOCK NAME</th>
                <th>STOCK SYMBOL</th>
                <th>NUMBER OF SHARES</th>
                <th>STOCK PRICE</th>
                <th>TIMESTAMP</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td>{{row["transaction_type"]}}</td>
                    <td>{{row["stock_name"]}}</td>
                    <td>{{row["stock_symbol"]}}</td>
                    <td>{{row["shares"]}}</td>
                    <td>${{row["stock_price"]}}</td>
                    <td>{{row["timestamp"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}