{% extends "layout.html" %}

{% block title %}
    Stock portfolio
{% endblock %}

{% block main %}
    <h2 style="margin: 25px">Stock portfolio<br></h2>
    <table class= "table table-striped">
        <thead>
        <tr>
            <th>Stock name</th>
            <th>Stock Symbol</th>
            <th>Number of shares</th>
            <th>Stock Price</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
            {% for row in shares_data %}
                <tr>
                    <td>{{row["stock_name"]}}</td>
                    <td>{{row["stock_symbol"]}}</td>
                    <td>{{row["shares"]}}</td>
                    <td>${{row["stock_price"]}}</td>
                    <td>${{row["shares_value"]}}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td>Cash</td>
                    <td colspan="3"></td>
                    <td>${{user_cash}}</td>
                </tr>
        </tbody>
        <tfoot>
            <td><b>Total value</b></td>
            <td colspan="3"></td>
            <td><b>${{user_value}}</b></td>
        </tfoot>
    </table>
{% endblock %}