{% extends "layout.html" %} 
{% block title %} Quote {% endblock %} 
{% block scripts %} 
  {% include "search_script.html" %} 
{% endblock%} 
{% block main %}
  <h1>Look up a stock quote</h1>
  <p class="instructions">Choose a
    <a class = "link" href="http://eoddata.com/symbols.aspx" target="”_blank”">New York Stock Exchange (NYSE) stock</a>
    to get a quote for.
    <br>
    Type the stock name or symbol into the field below and select it from the dropdown menu.
  </p>

  <form autocomplete="off" action="/quote" method="post">
    {% include "symbol_form_selector.html" %}
    <button class="btn btn-primary" type="submit">Quote</button>
  </form>
{% endblock %}