{% extends "layout.html" %} 
{% block title %} Sell {% endblock %} 
{% block scripts %}
  <script type= "text/javascript" src="static/search_own_stocks.js"></script>   
{% endblock %} 

{% block main %}
<h1>SELL YOUR STOCKS</h1>
<p class="instructions">
  Select stock from the dropdown field below.
</p>
<form action="/sell" method="post">
  <div class="form-group">
    <select
      id="symbol"
      name="symbol"
      class="form-control select2"
      style="width: 30%"
      data-bind="options: availableShares,
                           optionsText: 'stock_name',
                           optionsValue: 'stock_symbol',
                           value: selectedStockSymbol,
                           optionsCaption: 'Stock Shares'"
      searchable="Search here.."
    ></select>
    <div data-bind="visible: selectedShare">
      <!-- Appears when you select something -->
      <p class = "responses">
        You have
        <span data-bind="text: selectedShare() ? selectedShare().shares : 'unknown'"></span>
        shares of
        <span data-bind="text: selectedShare() ? selectedShare().stock_name : 'unknown'"></span>
        stocks currently valued at $
        <span data-bind="text: selectedShare() ? selectedShare().shares_value : 'unknown'"></span>
      </p>
    </div>
  </div>
  <div class="form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="shares"
      placeholder="Number of Shares"
      type="text"
    />
  </div>
  <button class="btn btn-primary btn-custom" type="submit">Sell</button>
</form>
{% endblock %}
